# Ignore binaries
# Ignore downloaded binaries and archives
mmseqs.tar.gz
vsearch.tar.gz
vsearch-*/
mmseqs/

# Ignore data and temp directories
data_cache/
env/
.venv/
__pycache__/
*/__pycache__/

# Ignore build artifacts
build/
*.so
*.o
*.egg-info/

# Ignore IDE settings
.idea/